<footer class="pie">
    <div class="footer">
        <div class="footer-1">
            <p>Encuéntranos en:</p>
            <div class="footer-sm">
                <div class="div-favicon">
                    <img class="favicon" src="./assets/image/fb.png">
                    <p class="social-media"> BeachDream</p>
                </div>
                <div class="div-favicon">
                    <img class="favicon" src="./assets/image/insta.png">
                    <p class="social-media"> BeachDream</p>
                </div>
            </div>
        </div>
        <div class="footer-2">
            <p class="t">Todos los derechos reservados &copy; BeachDream</p>
        </div>
    </div>
</footer>
